@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  --gray-color: #eeeeee;
  --orange-color: #ff764d;
  --fb-color: #3477f2;
  --tw-color: #1da1f2;
  --yt-color: #ff001d;
  --inst-color: #f77737;
  --button-color: #0000ff;
  --title-color: #fd5948;
  --yellow-square: #fbffa7;
  --green-square: #b6ffc0;
  --purple-square: #d5b3ff;
  --blue-square: #b1c5ff;
  box-sizing: border-box;
}

header {
  display: flex;
  border-bottom: 3px solid var(--gray-color);
  align-items: center;
  justify-content: space-between;
  z-index: 0;
}

/*
  Header.js
*/

header>.container-img-menu {
  display: flex;
}

header>.container-img-menu>.container-img {
  padding: 0 30px;
}

header>.container-img-menu>.container-img>a>img {
  width: 65px;
}

/*
  Menu.js
*/

nav {
  display: flex;
  align-items: center;
}

nav>ul {
  display: flex;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 17px;
}

nav>ul>li {
  list-style: none;
  padding: 0 10px;
}

nav>ul>li>a {
  text-decoration: none;
  color: black;
}

nav>ul>li:last-child>a {
  color: var(--orange-color);
}

/*
  MenuPhone.js
*/

header > div > .menu-phone {
  display: flex;
  align-items: center;
}

header > div > .menu-phone > button { 
  border: 0;
  background-color: transparent;
  font-size: 1.2rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  cursor: pointer;
}

header > div > .menu-phone > button > i {
  font-size: 0.8rem;
  padding-left: 10px;
}

/*
  LinksUseful.js
*/

.links-useful>a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 700;
}

.links-useful>a:last-child {
  font-size: 14px;
  color: black;
  padding: 0 40px 0 25px
}

/*
  SecondHeader.js
*/

.second-navbar {
  padding: 25px 0 25px 33px;
  position: sticky;
  top: 0px;
  background-color: #fafafae1;
  z-index: 1;
}

.second-navbar>a {
  color: black;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding: 15px;
}

.second-navbar>a:first-child {
  color: var(--orange-color);
  padding-left: 0;
}

/*
  Main.js
*/
main {
  font-family: 'Roboto', sans-serif;
}

main>.first-part {
  background-image: url("https://ableton-production.imgix.net/about/header.jpg?auto=format&dpr=2.0&fit=crop&fm=jpg&h=585&ixjsv=1.1.3&q=50&w=853%22");
  margin: 0 100px 100px 100px;
  min-height: calc(100vh - 120px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  display: grid;
  justify-content: center;
  align-items: center;
}

main>.first-part>h1 {
  font-size: 140px;
  color: var(--title-color);
}

main>.second-part,
main>.fourth-part,
main>.eight-part {
  margin: 0 300px;
}

main>.second-part>p:first-child,
main>.fourth-part>p:first-child,
main>.sixth-part>p:first-child,
main>.eight-part>p:first-child,
main>.tenth-part>p:first-child,
main>.twelveth-part>p:first-child {
  font-size: 28px;
  font-weight: 700;
  line-height: 44px;
  padding-bottom: 30px;
}

main>.second-part>p:first-child span {
  color: var(--button-color);
}

main>.second-part>p:last-child,
main>.fourth-part>p:last-child,
main>.sixth-part>p:last-child,
main>.eight-part>p:last-child,
main>.tenth-part>p:nth-child(2),
main>.tenth-part>p:last-child,
main>.twelveth-part>p:last-child {
  font-size: 18px;
  line-height: 35px;
}

main>.third-part {
  margin: 100px 0;
  display: grid;
  justify-content: end;
  align-items: center;
}

main>.third-part>.yellow-square {
  width: 60vw;
  height: 60vw;
  background-color: var(--yellow-square);
}

main>.third-part>.first-image {
  width: 42vw;
  height: 42vw;
  background-image: url("https://ableton-production.imgix.net/about/photo-1.jpg?dpr=2.0&fit=crop&h=586&ixjsv=1.1.3&q=50&w=586");
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  margin-left: 8vw;
}

main>.third-part>.second-image {
  width: 33vw;
  height: 25vw;
  background-image: url("https://ableton-production.imgix.net/about/photo-2.jpg?dpr=2.0&fit=crop&h=352&ixjsv=1.1.3&q=50&w=469");
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  margin-left: calc((8vw + 40vw) + 9vw);
  /* (ml + width) + ml */
}

main>.fifth-part {
  display: grid;
  justify-content: center;
  margin: 100px 0;
}

main>.fifth-part>figure>figcaption {
  font-size: 12px;
  margin: 8px 0 0 10px;
  font-weight: 700;
}

main>.sixth-part {
  margin: 0 295px;
}

main>.seventh-part {
  margin: 100px 0;
  display: grid;
  align-items: center;
}

main>.seventh-part>.green-square {
  width: 59vw;
  height: 75vw;
  background-color: var(--green-square);
}

main>.seventh-part>.container-double-image {
  position: absolute;
  margin-left: 8vw;
  display: flex;
  flex-direction: column;
  row-gap: 8vw;
}

main>.seventh-part>.container-double-image>.first-image {
  width: 33vw;
  height: 25vw;
  background-image: url("https://ableton-production.imgix.net/about/photo-3.jpg?dpr=2.0&fit=crop&h=360&ixjsv=1.1.3&q=50&w=480");
  background-size: cover;
}

main>.seventh-part>.container-double-image>.second-image {
  width: 33vw;
  height: 25vw;
  background-image: url("https://ableton-production.imgix.net/about/photo-4.jpg?dpr=2.0&fit=crop&h=360&ixjsv=1.1.3&q=50&w=480");
  background-size: cover;
}

main>.seventh-part>.third-image {
  width: 42vw;
  height: 42vw;
  background-image: url("https://ableton-production.imgix.net/about/photo-5.jpg?dpr=2.0&fit=crop&h=600&ixjsv=1.1.3&q=50&w=600");
  background-size: cover;
  position: absolute;
  margin-left: calc((8vw + 33vw) + 8vw);
}

main>.nineth-part {
  margin: 100px;
}

main>.nineth-part>img {
  width: 100%;
}

main>.tenth-part {
  margin: 0 305px;
}

main>.tenth-part>p:nth-child(2) {
  padding-bottom: 15px;
}

main>.eleventh-part {
  margin: 100px 0;
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: end;
}

main>.eleventh-part>.purple-square {
  width: 67vw;
  height: 58vw;
  background-color: var(--purple-square);
}

main>.eleventh-part>.first-image {
  width: 34vw;
  height: 25vw;
  background-image: url("https://ableton-production.imgix.net/about/photo-6-a.jpg?dpr=2.0&fit=crop&h=317&ixjsv=1.1.3&q=50&w=422");
  background-size: cover;
  background-position: 50% 50%;
  margin-right: calc(42vw + 17vw);
  position: absolute;
}

main>.eleventh-part>.second-image {
  width: 42vw;
  height: 42vw;
  background-image: url("https://ableton-production.imgix.net/about/photo-7.jpg?dpr=2.0&fit=crop&h=528&ixjsv=1.1.3&q=50&w=528");
  background-position: 50% 50%;
  background-size: cover;
  position: absolute;
}

main>.twelveth-part {
  margin: 0 385px;
}

main>.thirdteenth-part {
  display: flex;
  margin: 100px 0;
  justify-content: center;
}

main>.thirdteenth-part>.image {
  background-image: url("https://ableton-production.imgix.net/about/photo-8.jpg?crop=right&dpr=1.5&fit=crop&h=407&ixjsv=1.1.3&q=66&w=678");
  width: 42vw;
  height: 42vw;
  background-size: cover;
  background-position: 99%;
}

main>.thirdteenth-part>.blue-square {
  width: 42vw;
  height: 42vw;
  background-color: var(--blue-square);
  padding: 8.3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main>.thirdteenth-part>.blue-square>p {
  font-size: 29px;
  font-weight: 700;
  line-height: 45px;
}

main>.thirdteenth-part>.blue-square>a {
  font-size: 29px;
  font-weight: 700;
  padding-top: 30px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

/*
  Footer.js
*/

footer {
  border-top: 3px solid var(--gray-color);
  font-family: 'Roboto', sans-serif;
  padding: 110px;
}

footer>h2 {
  font-size: 60px;
  padding-bottom: 60px;
}

footer>.sections {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1fr 1fr 40%;
  row-gap: 70px;
  padding-bottom: 50px;
}

/*
  FirstDiv.js
*/

footer>.sections>.first-div {
  display: flex;
  flex-direction: column;
}

footer>.sections>.first-div>.links,
footer>.sections>.second-div,
footer>.sections>.third-div,
footer>.sections>.fourth-div,
footer>.sections>.fifth-div {
  display: flex;
  flex-direction: column;
  font-size: 17px;
}

footer>.sections>.first-div>.links>a,
footer>.sections>.second-div>a,
footer>.sections>.fourth-div>a,
footer>.sections>.fifth-div>a {
  text-decoration: none;
  color: black;
  font-weight: 400;
  display: flex;
  align-items: center;
}

footer>.sections>.first-div>.links>a:nth-child(2) {
  padding: 10px 0;
}

footer>.sections>.first-div>.social-media {
  display: flex;
  margin-top: 15px;
}

footer>.sections>.first-div>.social-media>div {
  padding: 3px;
  margin: 0 5px;
}

footer>.sections>.first-div>.social-media>div:first-child {
  margin-left: 0;
  background-color: var(--fb-color);
}

footer>.sections>.first-div>.social-media>div:nth-child(2) {
  background-color: var(--tw-color);
}

footer>.sections>.first-div>.social-media>div:nth-child(3) {
  background-color: var(--yt-color);
}

footer>.sections>.first-div>.social-media>div:last-child {
  margin-right: 0;
  background-color: var(--inst-color);
}

footer>.sections>.first-div>.social-media>div>a>i {
  font-size: 35px;
  color: white;
}

/*
  SecondDiv.js
*/

footer>.sections>.second-div>a:nth-child(2),
footer>.sections>.second-div>a:last-child {
  padding: 10px 0;
}

/*
  ThirdDiv.js
*/

footer>.sections>.third-div>.info>h3 {
  padding-bottom: 10px;
}

footer>.sections>.third-div>.info>p {
  font-size: 16px;
}

footer>.sections>.third-div>.container-input {
  padding-top: 18px;
  display: flex;
}

footer>.sections>.third-div>.container-input>input[type="email"] {
  background-color: var(--gray-color);
  border: 0;
  font-size: 17px;
  padding: 12px 15px;
  width: 100%;
}

footer>.sections>.third-div>.container-input>input[type="button"] {
  font-size: 17px;
  font-weight: 700;
  color: white;
  background-color: var(--button-color);
  border: 0;
  padding: 0 30px;
}


/*
  FourthDiv.js
  FifthDiv.js
*/

footer>.sections>.fourth-div>a:nth-child(2),
footer>.sections>.fifth-div>a:nth-child(2) {
  padding: 10px 0;
}

footer>.sections>.fourth-div>a:last-child {
  padding-top: 10px;
}

/*
  SixthDiv.js
*/

footer>.sections>.sixth-div>h3 {
  padding-bottom: 10px;
}

footer>.sections>.sixth-div>.selects>select {
  background-color: var(--gray-color);
  border: 0;
  padding: 10px;
  font-weight: 700;
  font-size: 13px;
}

footer>.sections>.sixth-div>.selects>select:last-child {
  width: 60%;
}

footer>.sections>.sixth-div>.selects {
  display: flex;
  column-gap: 4px;
}

/*
  LegalInfo.js
*/

footer>.legal-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer>.legal-info>.links-legal {
  display: flex;
}

footer>.legal-info>.links-legal>a {
  font-size: 11px;
  color: black;
  text-decoration: none;
  padding: 0 7px;
  font-weight: 700;
}

footer>.legal-info>.made-by {
  display: flex;
  align-items: center;
}

footer>.legal-info>.made-by>span {
  font-size: 11px;
  font-weight: 700;
  padding-right: 12px;
}

footer>.legal-info>.made-by>img {
  height: 50px;
}

/*
  PC 4K view
*/

@media screen and (min-width: 1700px) {
  body {
    display: grid;
    justify-content: center;
  }
  main > .third-part > .yellow-square { 
    width: 35vw;
    height: 35vw;
  }
  main > .third-part > .first-image { 
    width: 24vw;
    height: 24vw;
    margin-left: 3vw
  }
  main > .third-part > .second-image {
    height: 15vw;
    width: 20vw;
    margin-left: calc((3vw + 24vw) + 4vw);
  }
  main>.seventh-part>.green-square {
    width: 34vw;
    height: 50vw;
  }
  main>.seventh-part>.container-double-image>.first-image,
  main>.seventh-part>.container-double-image>.second-image {
    width: 20vw;
    height: 15vw;
  }
  main>.seventh-part>.container-double-image {
    margin-left: 5vw;
  }

  main>.seventh-part>.third-image {
    margin-left: calc((5vw + 20vw) + 5vw);
    width: 24vw;
    height: 24vw;
  }
  main>.eleventh-part>.purple-square {
    width: 35vw;
    height: 33vw;
  }
  main>.eleventh-part>.second-image {
    width: 25vw;
    height: 25vw;
  }
  main>.eleventh-part>.first-image{
    width: 19vw;
    height: 14vw;
    margin-right: calc(25vw + 9vw);
  }
  main>.thirdteenth-part>.image,
  main>.thirdteenth-part>.blue-square{
    width: 23vw;
    height: 23vw;
  }
  main>.thirdteenth-part>.blue-square{
    padding: 4.3vw;
  }

  main>.thirdteenth-part>.blue-square>p,
  main>.thirdteenth-part>.blue-square>a{
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 769px){
  header > div > .menu-phone {
    display: none;
  }
}

/*
  Tablet view
*/

@media screen and (max-width: 768px) {

  header > div > nav,
  header > .links-useful {
    display: none;
  }

  main>.thirdteenth-part>.blue-square {
    height: 80vw;
    padding: 0vw 8.3vw;
  }
  main>.second-part, main>.fourth-part, main>.eight-part {
    margin: 0px 104px;
  }
  main>.first-part {
    margin: 0 60px 100px 60px;
  }
  main>.first-part>h1 {
    font-size: 17vw;
  }
  main>.second-part>p:first-child, main>.fourth-part>p:first-child, main>.sixth-part>p:first-child, main>.eight-part>p:first-child, main>.tenth-part>p:first-child, main>.twelveth-part>p:first-child{
    font-size: 1.2rem;
    line-height: 35px;
  }
  main>.second-part>p:last-child, main>.fourth-part>p:last-child, main>.sixth-part>p:last-child, main>.eight-part>p:last-child, main>.tenth-part>p:nth-child(2), main>.tenth-part>p:last-child, main>.twelveth-part>p:last-child{
    font-size: 0.9rem;
    line-height: 30px;
  }

  main>.sixth-part {
    margin: 0px 118px;
  }

  main>.tenth-part {
    margin: 0px 125px;
  }
  main>.twelveth-part{
    margin: 0px 104px;
  }

  main > .fifth-part > figure > iframe {
    width: 80vw;
    height: 45vw;
  }

  main>.thirdteenth-part{
    flex-direction: column;
    align-items: center;
  }
  main>.thirdteenth-part>.blue-square>p {
    font-size: 1rem;
    line-height: 30px;
  }
  main>.thirdteenth-part>.blue-square>a{
    font-size: 1.1rem;
  }
  main>.thirdteenth-part>.image{
    width: 80vw;
    height: 48vw;
  }
  main>.thirdteenth-part>.blue-square{
    width: 80vw;
    height: 35vw;
    padding: 0 8.3vw;
  }
  footer>.sections{
    grid-template-columns: 1fr;
  }
  footer>.sections>.third-div{
    grid-row: 1;
  }

  footer>.legal-info>.links-legal{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  footer>.legal-info>.links-legal>a {
    font-size: 0.8rem;
    padding: 0;
  }
  footer>.legal-info{
    flex-direction: column;
    align-items: flex-start;
    row-gap: 50px;
  }
  footer>.legal-info>.made-by{
    flex-direction: row-reverse;
  }

  /*
    Js menu
  */
  
  #menu-off {
    display: none;
  }

  .menu-on {
    display: flex;
  }
}

@media screen and (max-width: 425px) {
  header > div > nav,
  header > .links-useful {
    display: none;
  }

  main>.thirdteenth-part>.blue-square {
    height: 80vw;
    padding: 0vw 8.3vw;
  }
  main>.first-part {
    margin: 0 25px 30px 25px;
  }

  main>.first-part>h1 {
    font-size: 4rem;  
  }

  main>.third-part {
    margin: 30px 0;
  }

  main>.fifth-part {
    margin: 30px 0;
  }

  main>.sixth-part {
    margin: 0px 35px;
  }

  main>.seventh-part {
    margin: 30px 0;
  }

  main>.nineth-part {
    margin: 30px 35px;
  }

  main>.tenth-part {
    margin: 0px 35px;
  }

  main>.eleventh-part {
    margin: 30px 0;
  }

  main>.twelveth-part {
    margin: 0px 35px;
  }

  main>.thirdteenth-part {
    margin: 30px 0;
  }

  main>.second-part, main>.fourth-part, main>.eight-part {
    margin: 0px 35px;
  }

  main>.second-part>p:first-child, main>.fourth-part>p:first-child, main>.sixth-part>p:first-child, main>.eight-part>p:first-child, main>.tenth-part>p:first-child, main>.twelveth-part>p:first-child {
    font-size: 1rem;
    line-height: 35px;
  }

  main > .fifth-part > figure > iframe {
    width: 80vw;
    height: 44vw;
  }

  footer {
    padding: 20px;
  }
  footer>h2 {
    font-size: 3rem;
    padding-bottom: 30px;
  }

  footer>.sections {
    row-gap: 30px;
  }

  footer>.sections>.third-div>.info>h3,
  footer>.sections>.sixth-div>h3 {
    font-size: 0.9rem;
  }

  footer>.sections>.third-div>.info>p {
    font-size: 0.8rem;
  }

  footer>.sections>.third-div>.container-input>input[type="email"] {
    font-size: 0.8rem;
  }
  footer>.sections>.third-div>.container-input>input[type="button"] {
    font-size: 0.8rem;
  }
  footer>.sections>.first-div>.links, footer>.sections>.second-div, footer>.sections>.third-div, footer>.sections>.fourth-div, footer>.sections>.fifth-div {
    font-size: 0.9rem;
  }
  footer>.sections>.sixth-div>.selects>select{
    font-size: 0.7rem;
  }
}