@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
  --gray-color: #eeeeee;
  --orange-color: #ff764d;
  --fb-color: #3477f2;
  --tw-color: #1da1f2;
  --yt-color: #ff001d;
  --inst-color: #f77737;
  --button-color: #0000ff;
}

header {
  display: flex;
  border-bottom: 3px solid var(--gray-color);
  align-items: center;
  justify-content: space-between;
}

/*
  Header.js
*/

header >.container-img-menu {
  display: flex;
}

header >.container-img-menu >.container-img { 
  padding: 0 30px;
}

header > .container-img-menu > .container-img > a > img{
  width: 65px;
}

/*
  Menu.js
*/

nav {
  display: flex;
  align-items: center;
}

nav > ul {
  display: flex;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 17px;
}

nav > ul > li {
  list-style: none;
  padding: 0 10px;
}

nav > ul > li > a {
  text-decoration: none;
  color: black;
}

nav > ul > li:last-child > a {
  color: var(--orange-color);
}

/*
  LinksUseful.js
*/

.links-useful > a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}

.links-useful > a:last-child {
  font-size: 14px;
  color: black;
  padding: 0 40px 0 25px
}

/*
  SecondHeader.js
*/

.second-navbar {
  padding: 25px 0 25px 33px;
}

.second-navbar > a {
  color: black;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding: 15px;
}

.second-navbar > a:first-child {
  color: var(--orange-color);
  padding-left: 0;
}

/*
  Footer.js
*/

footer {
  border-top: 3px solid var(--gray-color);
  font-family: 'Roboto', sans-serif;
  padding: 110px;
}

footer > h2 {
  font-size: 60px;
  padding-bottom: 60px;
}

footer > .sections {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1fr 1fr 40%;
  row-gap: 70px;
}

/*
  FirstDiv.js
*/

footer > .sections > .first-div {
  display: flex;
  flex-direction: column;
}

footer > .sections > .first-div > .links,
footer > .sections > .second-div,
footer > .sections > .third-div {
  display: flex;
  flex-direction: column;
  font-size: 17px;
}

footer > .sections > .first-div > .links > a,
footer > .sections > .second-div > a {
  text-decoration: none;
  color: black;
  font-weight: 400;
  display: flex;
  align-items: center;
}

footer > .sections > .first-div > .links > a:nth-child(2) {
  padding: 10px 0;
}

footer > .sections > .first-div > .social-media {
  display: flex;
  margin-top: 15px;
}

footer > .sections > .first-div > .social-media > div {
  padding: 3px;
  margin: 0 5px;
}

footer > .sections > .first-div > .social-media > div:first-child {
  margin-left: 0;
  background-color: var(--fb-color);
}

footer > .sections > .first-div > .social-media > div:nth-child(2) {
  background-color: var(--tw-color);
}

footer > .sections > .first-div > .social-media > div:nth-child(3) {
  background-color: var(--yt-color);
}

footer > .sections > .first-div > .social-media > div:last-child {
  margin-right: 0;
  background-color: var(--inst-color);
}

footer > .sections > .first-div > .social-media > div > a > i {
  font-size: 35px;
  color: white;
}

/*
  SecondDiv.js
*/

footer > .sections > .second-div > a:nth-child(2),
footer > .sections > .second-div > a:last-child {
  padding: 10px 0;
}

footer > .sections > .second-div > h3,
footer > .sections > .third-div > .info > h3 {
  font-size: 16px;
}

/*
  ThirdDiv.js
*/

footer > .sections > .third-div > .info > h3 {
  padding-bottom: 10px;
}

footer > .sections > .third-div > .info > p {
  font-size: 16px;
}

footer > .sections > .third-div > .container-input {
  padding-top: 18px;
  display: flex;
}

footer > .sections > .third-div > .container-input > input[type="email"] {
  background-color: var(--gray-color);
  border: 0;
  font-size: 17px;
  padding: 12px 15px;
  width: 100%;
}

footer > .sections > .third-div > .container-input > input[type="button"] {
  font-size: 17px;
  font-weight: 700;
  color: white;
  background-color: var(--button-color);
  border: 0;
  padding: 0 30px;
}


/*
  FourthDiv.js
*/

/*
  FifthDiv.js
*/

/*
  SixthDiv.js
*/


